@page "/newses-list/{Id:int}"
@using Blazor.Business.Repository.IRepository
@using Application.DTOs
@using Domin.Entites
@inject INewsRepository NewsRepository

@if (NewsDto != null)
{
    <div class="single_post">
        <div class="container-fluid">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="post_img">
                            <img src="/images/@NewsDto.ImageName" alt="">
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="posts_meta text-center">
                    <span><i class="fa fa-comment-o"></i> 25 نظر</span>
                    <span><i class="fa fa-archive"></i> اقتصادی</span>
                    <span><i class="fa fa-calendar"></i> @NewsDto.CreateDate.ToString("yyyy-M-d dddd")</span>
                </div>
                <div class="post_content">
                    <h4>| عنوان مطلب در این قسمت</h4>
                    <p>@NewsDto.ShortDescription</p>
                    <img src="/images/@NewsDto.ImageName" alt="">
                    <div>
                        @((MarkupString) NewsDto.Description)
                    </div>
                </div>
                @*<div class="comments_form">
                        <h5>دیدگاه شما </h5>
                        <form>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="نام شما">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" class="form-control" placeholder="ایمیل">
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="نظر شما ..."></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-left">
                                        <button class="btn btn-primary">ثبت نظر</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? Id { get; set; }

    public NewsDTO NewsDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NewsDto = await NewsRepository.GetNewsById(Id.Value);
    }

}
