@page "/"
@inject IJSRuntime JsRuntime



<div class="main-content">
    <div class="clear-fix"></div>
    <LatestNews />
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("OnDocumentInit");
    }
}
@* @page "/"
@using Blazor.Business.Repository.IRepository
@using Blazor.Model.DTOs.Newses
@inject IJSRuntime JsRuntime



<div class="main-content">
    <div class="clear-fix"></div>
    <LatestNews />
</div>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("OnDocumentInit");
    }
} *@