<div class="top-bar">
    <div class="container-fluid">
        <div class="col-md-6">
            <div class="search-btn">
                <span><i class="fa fa-search"></i></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="top-cat-box">
                <div class="col-md-12">
                    <div class="menu">
                        <ul>
                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">مقالات</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="show-cat">
                        <span>
                            دسته ها
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="main-header">
    <div class="container-fluid">
        <div class="col-md-10">
            <div class="main-menu">
                <ul>
                    <li>
                        <NavLink href="newses">
                            لیست اخبار
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="newses/add-news">
                            ثبت خبر جدید
                        </NavLink>
                    </li>
                    <li><a href="#">اتاق خبر</a></li>
                    <li><a href="#">اقتصادی</a></li>
                    <li><a href="#">انجمن</a></li>
                    <li><a href="#">گروه رسانه ای</a></li>

                    <AuthorizeView>
                        <Authorized>
                            <li>
                                سلام ، @context.User.Identity.Name
                            </li>
                            <li>
                                <NavLink href="Identity/Account/Logout">
                                    خروج
                                </NavLink>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li>
                                <NavLink href="Identity/Account/Register">
                                    ثبت نام
                                </NavLink>
                            </li>
                            <li>
                                <NavLink href="Identity/Account/Login">
                                    ورود
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>

                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="social-box">
                <ul>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clear-fix"></div>
